*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


/* HEADER */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* NAV-BAR */

nav {
    width: 100%;
    background-color: #0084fd;
    color: white;
    display: flex;
    justify-content: center;
}

.content-nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.container-logo{
    width: 20%;
    margin-left: 1rem;
}

.logo-img{
    height: 20px;
}

.container-menu-icon{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* JUMBO */

.jumbo{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
}

.row-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.card-header-big{
    width: 70%;
    background-color: #b5ddff;
    margin: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-card-header-big-left{
    width: 90%;
}

.h5-card-header-big{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.btn-app-store{
    width: 65%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 25px;
    color: white;
    background-color: #0084fd;
    border: 1px solid #0084fd;
    height: 35px;
}

.content-card-header-big-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-phone{
    height: 280px;
    object-fit: contain;
    object-position: center;
}

.color-blue{
    color: #0c8afd;
}

.marg{
    margin: 1rem 0;
}

.card-header-near-big{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b5ddff;
    margin: 1rem;
    border-radius: 20px;
}

.card-header{
    width: 70%;
    background-color: #b5ddff;
    margin: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-card-header{
    font-size: 60px;
    margin: 3rem;
}

.h5-card-header{
    width: 85%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2rem;
    font-weight: 400;
}



/* MAIN */


/* HEADER-MAIN */

.header-main{
    width: 100%;
    background-color: #9792e4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.column-left-header-main{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.container-img-planning{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-planning-left{
    object-fit: contain;
    object-position: center;
    height: 400px;
    padding-top: 1.5rem;
}


.text-column-left-header-main{
    width: 90%;
    padding-top: 3rem;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.font-weight-sm{
    font-weight: 400;
    font-size: 16px;
}

.padd-bottom{
    padding-bottom: 2rem;
}

.font-size{
    font-size: 44px;
}

.line-height{
    line-height: 22px;
}

.column-right-header-main{
    width: 90%;
    background-color: #ffffff;
    margin: 1.5rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-planning-right{
    object-fit: contain;
    object-position: center;
    height: 400px;
    padding-top: 1.5rem;
}

.text-column-right-header-main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.h3-app-developement{
    margin-bottom: .5rem;
}


.container-icon-arrow-down-header-main{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #9792e4;
    border: 1px solid #9792e4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


/* MAIN-MAIN */

.main-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.text-main-main{
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h2-main-main{
    margin-bottom: 2rem;
}

.h4-main-main{
    font-size: 16px;
    font-weight: 400;
}

.card-main-main{
    width: 70%;
    background-color: #9792e4;
    border-radius: 30px;
    margin: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-testimonial-1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #333333;
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-testimonial-2{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #333333;
    background-image: url(../img/testimonial2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-testimonial-3{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #333333;
    background-image: url(../img/testimonial3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-card-main-main{
    width: 60%;
    color: white;
}

.h5-text-card-main-main{
    font-size: 16px;
    font-weight: 400;
}

.h4-text-card-main-main{
    font-size: 20px;
    font-weight: 400;
    margin-top: .5rem;
}

.main-main:last-child{
    margin-bottom: 4rem;
}


/* FOOTER-MAIN */

.footer-main{
    width: 100%;
    background-color: #9792e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.row-footer-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.card-footer-main{
    width: 80%;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.color{
    color: #9792e4;
}

.h1-footer-main{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 50px;
}

.h2-footer-main{
    width: 90%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    font-size: 32px;  
}

.h3-footer-main{
    margin-left: 1rem;
}

.h5-footer-main{
    line-height: 20px;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    color: black;
    margin-left: 1rem;
    text-align: left;
    width: 90%;
}

.button-footer-main{
    height: 33px;
    width: 50%;
    background-color: #9792e4;
    border: 1px solid #9792e4;
    color: white;
    border-radius: 25px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.footer-main:last-child{
    padding-bottom: 3rem;
}



/* FOOTER */


/* HEADER-FOOTER */


footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-footer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.container-column-left-header-footer{
    width: 100%;
}

.h2-header-footer{
    font-size: 44px;
    margin-bottom: 2rem;
    margin-right: 12rem;
}

.p-header-footer{
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-column-right-header-footer{
    width: 65%;
    margin-right: 7rem;
}

.container-img-about{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-right: 14rem;
    margin-bottom: 1rem;
}



/* MAIN-FOOTER */

.main-footer{
    width: 100%;
    background-color: #9792e4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main-footer{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-main-footer{
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.container-h2-main-footer{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 18px;
}

.h1-main-footer{
    font-size: 65px;
    color: #fdc15f;
    margin-bottom: 1.5rem;
}

.h5-main-footer{
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 16px;
}

.button-main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 60%;
    background-color: white;
    border: 1px solid white;
    border-radius: 40px;
    color: #9792e4;
    margin-bottom: 1rem;
    font-size: 20px;
}

.h6-main-footer{
    margin-bottom: 2rem;
    font-size: 16px;
}


/* FOOTER-FOOTER */

.footer-footer{
    width: 100%;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer-footer{
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h6-footer-footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 16px;
}



/* RESPONSIVE-RULES */

@media screen and (min-width: 768px) {

    header{
        display: flex;
        justify-content: center;
    }

    .content-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .jumbo{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
    }
    
    .row-header{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
    }

    .card-header-big{
        width: calc(( 100% / 3 ) * 2);
        background-color: #b5ddff;
        /* margin: 1rem; */
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
    }

    .content-card-header-big-right{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .img-phone{
        height: 280px;
        object-fit: contain;
        object-position: left;
        display: flex;
        justify-content: flex-start;
    }

    .card-header-near-big{
        width: calc( 100% / 3 );
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #b5ddff;
        /* margin: 1rem; */
        border-radius: 20px;
    }

    .card-header{
        width: calc(( 100% / 3 ) - 15px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #b5ddff;
        /* margin: 1rem; */
        border-radius: 20px;
    }

    .main-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-main-main{
        width: 70%;
        background-color: #9792e4;
    }

    
    .footer-main{
        width: 100%;
        background-color: #9792e4;
        color: white;
        text-align: center;
    }

    .row-footer-main{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-footer-main{
        width: calc(( 100% / 2 ) - 1rem);
        height: 300px;
        margin: .7rem 0;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .header-footer{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 4rem;
    }

    .container-column-left-header-footer{
        width: 55%;
    }

    .h2-header-footer{
        width: 100%;
        margin-right: 0;
        font-size: 44px;
        margin-bottom: 2rem;
    }

    .container-column-right-header-footer{
        width: 147px;
        margin-right: 2rem;
        align-self: flex-start;
    }
}

@media screen and (min-width: 1160px) {
    .header-main{
        width: 100%;
        background-color: #9792e4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .column-left-header-main{
        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    .img-planning-left{
        object-fit: contain;
        object-position: center;
        height: 450px;
        padding-top: 1.5rem;
    }

    .text-column-left-header-main{
        width: 90%;
        padding-top: 3rem;
        padding-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        color: white;
    }

    .padd-bottom{
        padding-bottom: 3rem;
        padding-top: 6rem;
    }

    .column-right-header-main{
        width: 90%;
        background-color: #ffffff;
        margin: 1.5rem;
        border-radius: 40px;
        display: flex;
        align-self: flex-end;
        flex-direction: column;
    }

    .img-planning-right{
        object-fit: contain;
        object-position: center;
        height: 350px;
        padding-top: 1.5rem;
    }

    .main-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-main-main{
        width: 60%;
        background-color: #9792e4;
    }

    .text-main-main{
        width: 60%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .card-footer-main{
        width: calc(( 100% / 3 ) - 1rem);
        height: 300px;
        margin: .7rem 0;
        background-color: #ffffff;
        border-radius: 15px;
    }
}